.imgLogo{
    width: 190px;
    height: 25px;
    margin-left: 30px;
    margin-top: -20px;
}
.btn-ultimo{
    margin-left: -30px;
    margin-top: -20px;
}

.custom-imgCarrossel{
    display: flex;

    height: 450px !important;
}



.copyright {
    width: 100%;
    left: 0;
    bottom: 0;
    text-align: center;
    font-size: 14px;
    color: #ffffff;
    padding: 20px 0;
    background-color: #000000;
}

.custom-imgCarrossel2{
    display: flex;
    width: 1200px !important;
    height: 600px !important;
}

.card-img-top{
    height: 180px;
    border-radius: 16px;
}